@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FreePixel';
  src: url('/public/fonts/FreePixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
